<div class="new-password-container" ng-controller="newPasswordController">
	<form name="newPaswordForm" ng-submit="submit(newPasswordForm)">
		<input	type="email"
				placeholder="email"
				name="email"
				ng-model="newPasswordData.email"
				ng-required="true">
		<input	type="password"
				placeholder="password"
				name="password"
				ng-model="newPasswordData.password"
				ng-required="true">
		<input	type="password"
				placeholder="confirm password"
				name="confirmPassword"
				ng-model="newPasswordData.confirmPassword"
				ng-required="true">
		<button type="submit" class="ripple-button">submit</button>
	</form>
</div>